html {
    box-sizing: border-box;
    
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
* {
    &::selection {
        background-color: $blueDark;
        color: #fff;
    }
    &::-moz-selection {
        background-color: $blueDark;
        color: #fff;
    }
}
html,
body {
    height: 100%;
    position: relative;
    overflow-x: hidden;
    caret-color: transparent;
}
a {
    display: inline-block;
    text-decoration: none;
}
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
input,
textarea {
    caret-color: $blueDark;
}
body {
    font-family: "Teko", sans-serif;
    font-size: 16px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
}
.container {
    max-width: 1420px;
    padding: 0 15px;
    margin: 0 auto;
}
