$blueDark: #154278;
$blue: #17467f;
$blueLight: #1e87f0;
$grey: #a8a8a8;
@mixin f300 {
  font-family: "Teko", sans-serif;
  font-weight: 300;
}
@mixin f400 {
  font-family: "Teko", sans-serif;
  font-weight: 400;
}
@mixin f500 {
  font-family: "Teko", sans-serif;
  font-weight: 500;
}
@mixin f700 {
  font-family: "Teko", sans-serif;
  font-weight: 700;
}
